services:
  dev:
    build:
      context: ${HOME}/.dotfiles
      dockerfile: Dockerfile
    volumes:
      - ${HOME}/.ssh:/root/.ssh:ro
      - ${SSH_AUTH_SOCK}:/ssh-agent
    environment:
      - SSH_AUTH_SOCK=/ssh-agent
    working_dir: /project
    tty: true
    stdin_open: true
    entrypoint: ["/bin/zsh"]
