services:
  dev:
    build:
      context: ${HOME}/.dotfiles
      dockerfile: Dockerfile
    volumes:
      - ${HOME}/.ssh:/root/.ssh
    working_dir: /project
    tty: true
    stdin_open: true
    entrypoint: ["/bin/zsh"]
